:root {
  --text-color-white: #ffffff;
  --color-button-green: rgba(60, 184, 120, 0.8);
  --color-button-green-hover: #01813f;
  --color-fb: #305db8;
  --color-fb-hover: #022263;
  --color-google: #df4a32;
  --color-google-hover: #ab1f09;
  --color-plasholder: #bebebe;
  --color-text-black: #434343;
  --color-or: #848484;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Ubuntu", "Roboto", sans-serif;
  background-image: url(../image/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  /* width: 1205px; */
  width: 100%;
  height: 58px;
  padding: 0 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  /* position: relative; */
  margin-bottom: 54px;
  background: rgba(0, 0, 0, 0.4);
}

/* .overloy {
  width: 100%;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
} */

.logo {
  text-decoration: none;
  color: var(--text-color-white);
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
}

.logo:hover,
.logo:focus {
  color: var(--color-button-green-hover);
  transition: 250ms var(--cubic);
}

.manu-list {
  display: flex;
  gap: 25px;
  margin-right: 27px;
}

.manu-list::after {
  content: "";
  width: 1px;
  height: 19px;
  background-color: var(--color-plasholder);
  position: relative;
  top: 5px;
}

.manu-list svg:hover,
.manu-list svg:focus {
  fill: var(--color-button-green-hover);
  transition: 250ms var(--cubic);
}

.manu-list svg {
  fill: var(--text-color-white);
}

.nav-list a,
.header-span {
  color: var(--text-color-white);
  text-decoration: none;
}

.header-span {
  color: var(--text-color-white);
}

.list {
  list-style: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.check-in {
  display: flex;
  gap: 5px;
}

.check-in a:hover,
.check-in a:focus {
  color: var(--color-button-green-hover);
  transition: 250ms var(--cubic);
}

/* form */

.container-form {
  width: 444px;
  height: 584px;
  background-color: var(--text-color-white);
  padding: 32px 60px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 74px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title-2:hover {
  color: var(--color-button-green-hover);
  text-decoration: underline;
  transition: 250ms var(--cubic);
}

.title-1 {
  font-size: 20px;
  line-height: 1;
  color: var(--color-text-black);
}

.title-1::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--color-button-green);
  position: absolute;
  left: 0;
}

.title-2 {
  font-size: 14px;
  line-height: 1;
  color: var(--color-button-green);
}

.button {
  display: flex;
  justify-content: space-between;
}

.btn-line {
  width: 1px;
  height: 28px;
  background-color: rgba(10, 22, 47, 0.3);
  position: absolute;
  right: 103px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: none;
  color: var(--text-color-white);
  cursor: pointer;
}

.button-1 {
  background-color: var(--color-fb);
  position: relative;
}

.button-1::after {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background: #0a162f;
  position: absolute;
  left: 52px;
  opacity: 0.1;
}

.button-1:hover,
.button-1:focus {
  background-color: var(--color-fb-hover);
  transition: 250ms var(--cubic);
}

.button-2 {
  background-color: var(--color-google);
  position: relative;
}

.button-2::after {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background: #0a162f;
  position: absolute;
  left: 57px;
  opacity: 0.1;
}

.button-2:hover,
.button-2:focus {
  background-color: var(--color-google-hover);
  transition: 250ms var(--cubic);
}

.svg-fb,
.svg-google {
  fill: var(--text-color-white);
}

.svg-fb::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: red;
  position: absolute;
}

.line {
  text-align: center;
  font-size: 14px;
  line-height: 1;
  color: var(--color-or);
  margin-top: 31px;
  margin-bottom: 11px;
}

.line::before {
  content: "";
  display: block;
  height: 1px;
  width: 154px;
  background-color: #f2f2f2;
  position: absolute;
  top: 9px;
  right: 1px;
}

.line::after {
  content: "";
  display: block;

  height: 1px;
  width: 154px;
  background-color: #f2f2f2;
  position: absolute;
  top: 9px;
  right: 170px;
}

.form-container {
  width: 100%;
  position: relative;
}

/* form-container */

.input-text {
  width: 324px;
  height: 44px;
  margin-top: 17px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: var(--color-text-black);
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1;
  padding: 15px 20px;
}

.input-text:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  transition: 250ms var(--cubic);
}

input::placeholder {
  font-size: 14px;
  line-height: 1;
  color: var(--color-plasholder);
}

.checkbox {
  color: var(--color-text-black);
  font-size: 14px;
  line-height: 1;
  /* display: none; */
  opacity: 1;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Checkboxes */

.checkbox-link {
  text-decoration: none;
  color: var(--color-button-green);
}

.checkbox-link:hover {
  color: var(--color-button-green-hover);
  text-decoration: underline;
  transition: 250ms var(--cubic);
}

.btn-subvit {
  width: 324px;
  height: 46px;
  background-color: var(--color-button-green);
  color: var(--text-color-white);
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-subvit:hover,
.btn-subvit:focus {
  background-color: var(--color-button-green-hover);
  transition: 250ms var(--cubic);
}
